go 1.25.8

use (
	./
	./cmd/memory
	./examples/fetch
	./examples/memory
	./examples/filesystem
	./examples/utils
// ./cmd/everything
// ./cmd/filesystem
// ./cmd/git
// ./cmd/memory
// ./cmd/sequentialthinking
// ./cmd/time
// ./cmd/fetch
)
